body{
    font-family: "Arial Black";
    background-color: #000;
    padding-top: 20px;
}
/* Grid Rules */
.grid-1{
    display: grid;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    /*grid-template-columns: 150px 150px 150px;*/
    /*grid-template-columns: 33.33% 33.33% 33.33%; !* other units: ems - rems - vh - vmin *!*/
    /*grid-template-columns: repeat(3, 33.33%); !* repeat(no of columns, width of each) *!*/
    /*grid-template-columns: 1fr 1fr 1fr; !* 1fr is one piece of however many pieces we're splitting this into *!*/
    /*grid-template-columns: 300px 1fr 3fr 20%; !* fr is in combination with other units *!*/
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto auto;
    grid-gap: 20px;
}
.grid-1 div{
    color: #ffffff;
    font-size: 1.2rem;
    padding: 20px;
}
/* Items */
.item-1 {
    background: #b03532;
}
.item-2 {
    background: #33a8a5;
}
.item-3 {
    background: #30997a;
}
.item-4 {
    background: #6a478f;
}
.item-5 {
    background: #da6f2b;
}
.item-6 {
    background: #3d8bb1;
}
.item-7 {
    background: #e03f3f;
}
.item-8 {
    background: #59a627;
}
.item-9 {
    background: #4464a1;
}