body{
    font-family: "Arial";
    background-color: #000;
    padding-top: 20px;
    font-size: 1em;
}
h1{
    margin:0 auto;
    text-align: center;
    color: yellow;
}
a{
    color: #b97e7f;
    text-decoration: none;
    margin: 0 auto;
}
footer{
    padding: 10px 20px;
    border-top: 1px solid #d3d3d3;
    color: #d5d5d5;
}
section{
    padding-bottom: 40px;
    max-width: 90%;
    margin: 0 auto;
}
.section-separator{
    margin: 40px 0 10px 0;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    text-indent: 35px;
}
@import "reference-urls.css";
ul.reference-urls{
    width: 100%;
    max-width: 90%;
    background-color: #fff;
    padding: 10px;
    margin: 0 auto 20px auto;
    display: block;
    min-height: 100px;
    opacity: 1;
}
ul.reference-urls li{
    margin: 5px 40px;
    list-style: circle;
    font-size: 16px;
}
li a{
    text-decoration: none;
    font-style: italic;
}
a.more{
    margin-left: 15px;
}
/* Grid Rules */
.grid-1{
    display: grid;
    margin: 0 auto;

    grid-template-columns: 1fr;
    grid-template-rows: 80px auto auto 80px;
    grid-gap: 10px;

    grid-template-areas:
            "header"
            "main"
            "sidebar"
            "footer";
}
.grid-1 div{
    color: #ffffff;
    font-size: 1.2rem;
    padding: 20px;
}

@media only screen and (min-width: 500px){
    .grid-1{
        display: grid;
        margin: 0 auto;
        /*grid-template-columns: 150px 150px 150px;*/
        /*grid-template-columns: 33.33% 33.33% 33.33%; !* other units: ems - rems - vh - vmin *!*/
        /*grid-template-columns: repeat(3, 33.33%); !* repeat(no of columns, width of each) *!*/
        /*grid-template-columns: 1fr 1fr 1fr; !* 1fr is one piece of however many pieces we're splitting this into *!*/
        /*grid-template-columns: 300px 1fr 3fr 20%; !* fr is in combination with other units *!*/
        grid-template-columns: repeat(3, 1fr);
        /*grid-template-rows: auto auto auto;*/
        /*grid-template-rows: repeat(3, 100px);*/
        grid-template-rows: 80px auto 80px;

        grid-template-areas:
                "header header header"
                "main main sidebar"
                "footer footer footer"
    ;

        grid-gap: 20px;
    }
    .grid-1 div{
        font-size: 20px;
        padding: 20px;
    }
}
/* Items */
.item-1 {
    background: #b0a245;
    /*grid-column: 1 / 3;*/
    /*grid-column: 1 / span 2;*/
    /*grid-row: 1 / 3;*/
    /*grid-row: 1 / span 2;*/
    grid-area: header;
}

/* Nested grid#2 of item-2 */
.item-2{
    background: #33a8a5;
    grid-area: main;

    display: grid;

    grid-template-columns: 100%;
    word-wrap: break-word;
    grid-template-rows: auto;
    grid-gap: 10px;

    grid-template-areas:
            "heading"
            "article"
            "photo";

}

@media only screen and (min-width: 600px){
    .item-2 {
        grid-area: main;

        display: grid;

        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto auto;
        grid-template-areas:
                "heading heading"
                "article photo";
        grid-gap: 10px;
    }
}
.item-5{
    background-color: #da6f2b;
    grid-area: heading;
}
.item-6{
    background-color: #e03f3f;
    grid-area: article;
}
.item-7{
    background-color: #e059d6;
    grid-area: photo;
}
.item-3 {
    background: #30997a;
    grid-area: sidebar;
}
.item-4 {
    background: #6a478f;
    /*grid-column: 3;*/
    /*grid-row: 2 / span 2;*/
    grid-area: footer;
}
.item-5 {
    background: #da6f2b;
}
.item-6 {
    background: #3d8bb1;
}
.item-7 {
    background: #e03f3f;
}
.item-8 {
    background: #59a627;
}
.item-9 {
    background: #4464a1;
}

/* Grid-3 */
.grid-3{
    margin-top: 20px;
    display: grid;

    grid-template-columns: repeat(auto-fill, minmax(9em, 1fr));
    grid-gap: 20px;
}
.grid-3 div{
    color: #fff;
    font-size: 20px;
    padding: 20px;
}
.grid-3 .item-10{
    background-color: blue;
}

.grid-4{
    display: grid;

    max-width: 750px;
    margin: 0 auto;

    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 10px;

    grid-auto-flow: row dense;
}
.grid-4-item{
    padding: 15px;
    font-size: 1.2rem;
    background-color: #ffe44c;
}
.item-17{
    background-color: #da6f2b;
    grid-column: span 2;
    grid-row: span 2;
}
.item-19{
    background-color: #59a627;
    grid-column: span 2;
    grid-row: span 2;
}
.item-22{
    background-color: #3d8bb1;
    grid-column: span 3;
    grid-row: span 2;
}

.grid-5{
    display: grid;
    /*grid-template-columns: 100px auto 100px;*/
    grid-template-columns: [start] 100px [centre-start] auto [last-column] 100px;
    /*grid-template-rows: 60px 130px 50px;*/
    grid-template-rows: [header-start] 60px [main-start] 130px [main-end] 50px;
    grid-gap: 20px;
}
.grid-5 div{
    padding: 20px;
    font-size: 15px;
    background-color: #6a478f;
}
.special-item{
    grid-column: last-column;
    grid-row: main-start;
    background-color: #ffe44c !important;
}